
<p>Thank you for these details:</p>
<p>Name: <b>{{name}}</b></p>
<p>Email Address: <b>{{emailAddress}}</b></p>
<p>Age: <b>{{age}}</b></p>
<p></p>
<p>Please click <a href="/form/">here</a> to go back to the form.</p>
